.Toastify .Toastify__progress-bar{
    background-color: transparent !important;
}
.ant-picker{
    background-color: #ebebeb;
    box-shadow: none;
    border: #ebebeb 1px solid;
    border-radius: 20px;
    display: flex;
    flex: 1 1;
    color: #1f2022;
    line-height: 1.42857;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    will-change: background, border, box-shadow, color;
    width: 100%;
    padding: 8px 17.4px;
}
input.ant-input.prs-button{ 
    width: 50% !important;
    margin-left: 78%;
    padding-left: 33px!important;
    background-color: green;
    color: #fff;
}
.ant-modal-wrap {
    top: -87px;
}
.ant-modal {
  width: 630px!important;
}
.ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 20px;
}
.ant-picker.has-error {
    border-color: #ed5564;
}
label.ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
  background: #336cfb;
  color: white;
}
.treatment-checkbox .ant-checkbox  {
  display: none;
}
.treatment-checkbox .ant-row {
  justify-content: center;
  border: 1px solid #D3D3D3;
}
.rc-tabs-1-panel-Clinical_Note .ant-form-horizontal .box{ display: flex!important;}
#GFG{ display: none;}

.medic-dosage-row .col-sm-4 {
    padding-left: 0px;
}
input.ant-input.medic-dosage {
    padding-right: 0px!Important;
    border-radius: 0px;
}
.appoimtment-modal{
    width: 400px !important;
}
.appoimtment-modal .ant-modal-close-x{
    line-height: 34px;
    width: 30px;
    height: 30px;
}
.appoimtment-modal .ant-modal-footer{
    display: none;
}
.appoimtment-modal .appointment-button{
    text-align: center;
}
.appoimtment-modal .ant-btn{
    margin: 5px;
}
/* Seat Allotment */
.seat-alot {
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0px 0px 17px -4px #000;
  }
  .seat-side {
    text-align: center;
  }
  .seat-side .screen {
    height: 25px;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0px -3px 0px 1px #ccc;
    color: #ccc;
  }
  .seat-side .select-text {
    color: #969696;
  }
  .exit {
    position: relative;
    height: 50px;
  }
  .exit:before, .exit:after {
    content: "EXIT";
    font-size: 14px;
    line-height: 18px;
    padding: 0px 5px;
    font-family: "Arial Narrow", Arial, sans-serif;
    display: block;
    position: absolute;
    background: #81c784;
    color: white;
    top: 50%;
    transform: translate(0, -50%);
  }
  .exit:before {
    left: 0;
  }
  .exit:after {
    right: 0;
  }
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .seats {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .seat {
    display: flex;
    flex: 0 0 14.28571%;
    padding: 5px;
    position: relative;
  }
  /* .seat:nth-child(3) {
    margin-right: 14.28571%;
  } */
  .seat input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  .seat input[type="checkbox"]:checked + label {
    background: #bada55;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
  .seat input[type="checkbox"]:disabled + label {
    background: #ddd;
    text-indent: -9999px;
    overflow: hidden;
  }
  .seat input[type="checkbox"]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .seat input[type="checkbox"]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
  .seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 3.5rem;
    padding: 4px 0;
    color: #fff;
    background: #26a69a;
    border-radius: 2px;
    animation-duration: 300ms;
    animation-fill-mode: both;
    transition-duration: 300ms;
  }
  .seat label:hover {
    cursor: pointer;
    box-shadow: 0px 0 7px 3px #ccc;
  }
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }

/*** Patient Profile Page ***/
.patient_file label{ padding-left: 10px;}
.patient_file .col-sm-4{ margin-top: 10px;}