.Toastify .Toastify__progress-bar{
    background-color: transparent !important;
}
.ant-picker{
    background-color: #ebebeb;
    box-shadow: none;
    border: #ebebeb 1px solid;
    border-radius: 20px;
    display: flex;
    flex: 1 1;
    color: #1f2022;
    line-height: 1.42857;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    will-change: background, border, box-shadow, color;
    width: 100%;
    padding: 8px 17.4px;
}
.ant-modal-wrap {
    top: -87px;
}
.ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 20px;
}
.ant-picker.has-error {
    border-color: #ed5564;
}
#GFG{ display: none;}
.medic-dosage-row .col-sm-4 {
    padding-left: 0px;
}
input.ant-input.medic-dosage {
    padding-right: 0px!Important;
    border-radius: 0px;
}
.appoimtment-modal{
    width: 400px !important;
}
.appoimtment-modal .ant-modal-close-x{
    line-height: 34px;
    width: 30px;
    height: 30px;
}
.appoimtment-modal .ant-modal-footer{
    display: none;
}
.appoimtment-modal .appointment-button{
    text-align: center;
}
.appoimtment-modal .ant-btn{
    margin: 5px;
}